//se necesita node.js para compilar un archivo stylus http://learnboost.github.io/stylus/
// para compilar es $- stylus -c archivo.styl y para compilarlo en cada cambio es 
//stylus -c -w archivo.styl 
leonidas = #E8E8E8
grisoscuro =#444
azul=#22BCE0
naranja= #DD4F24
gris_texto= #7A7A7A
//Stylus soporta css normal 
@font-face {
	font-family: 'iconitos';
	src:url('fonts/icomoon.eot?-krhqti');
	src:url('fonts/icomoon.eot?#iefix-krhqti') format('embedded-opentype'),
		url('fonts/icomoon.woff?-krhqti') format('woff'),
		url('fonts/icomoon.ttf?-krhqti') format('truetype'),
		url('fonts/icomoon.svg?-krhqti#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a 
	color naranja
body 
	background leonidas
	color  grisoscuro
	font-style Arial
	font-size 16px
footer
	background naranja
	color rgba(white,0.5)
	padding 1em 0
	text-align center
	width 100%

	h3
		font-size 14px
		font-weight normal

		strong
			display block

		.mejor
			&:before
			&:after
				content " - "

header 
	background grisoscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white 
	overflow hidden 
	padding 1em 
	position relative 
	//si coloco un objeto con pocicion relative y dentro tiene otro objeto con posicion absoluta el segundo objeto toma de referencia el objeto de posicion relativa
	z-index 1
	.logo 
		border-right 1px solid azul
		width 60px
		position absolute
		top 10px
		img 
			width 52px

	.titular
		margin 0 60px 0 70px
		.filtro
			color azul
			font-weight bold 
			font-size 14px
			font-style italic
			text-decoration none
		.publicar
			background naranja
			color white
			font-size italic
			margin -5px 1em 0 0
			padding 0.2em 0.5em
			text-decoration none
			text-shadow 1px 1px 0px black
			//text-shadow ocuade parametros cuanto se mueve la sombra en Y,X y cual es la difuminacion Z  y B el color de la sombra textshadow y x z b
			&:before 
				display inline-block
				content "\e908"
				font-family "iconitos"
				margin 0 2px 0 0 
		.titulo
			font-size 18px
			font-weight normal
			padding 0 
			margin 0
	.usuario
		position absolute
		top 10px
		right 10px
		.avatar
			margin 0 1.3em 0 0 
			position relative
			 z-index 2 // z-index es un atributo que permite mover objetos hacia adelante o atras a mayor numero mas adelante
			// z-index exije que la posiscion no esea estatica 				 
			img 
				width 50px
				border-radius 50%
		.flechita 
			background naranja
			color white
			display block
			padding 0.2em 0.2em
			position absolute
			top 15px
			text-align right
			text-decoration none
			right 0
			width 50%
			&:before
				font-family "iconitos"
				content "\e937"
				text-shadow 1px 1px 0px black

nav
	background azul
	border-left 15px solid white
	position relative

	&:before // el & esta indicando al objeto nav el : es para "atributos"
		border-bottom 20px solid transparent 
		border-left 7px solid white	
		border-top 20px solid transparent
		content ""// este hay q ponerlo de ahuevo para que el after o before funcionen
		left 0
		position absolute
		top 0
		
	.menu //los ojetos bloquesTexto siempre tienen un margen por defecto
		height 50px
		line-height 40px
		margin 0
		padding 0 // las ul tienen un padign por defecto a ala izquierda
		overflow-x auto
		white-space nowrap
		
		li 
			display inline-block
			a
				color white
				display inline-block
				margin 0 0.5em
				padding 0
				text-decoration none
.posts 
	padding 0.5em
	
	.post
		background white
		border-radius 0 0 0.5em 0.5em
		box-shadow 2px 2px 10px rgba(black,0.5)
		color gris_texto
		margin-bottom 1em 

		.acciones
			border-top 3px solid azul
			padding 0.5em
			overflow hidden
			position relative
			.datos
				float right

				.comentarios 
					background grisoscuro
					border-bottom 3px solid red
					color white 
					margin 0 1em 0 0
					padding 2px 5px
					position relative
					text-decoration none

					&:after
						 border-bottom 20px solid green
						 border-left 7px solid red	
						 border-top 20px solid yellow
					 	 content ""
					 	 position absolute
					 	 top 2px
					 	 right 20px
				
				.estrellita
					text-decoration none
					
					&:after
						font-family "iconitos"
						font-size 1.2em
						color yellow
						content "\e9d9"

			.votos
				float left

				.down//lo que se esta haciendo 
				.up//aqui es una herencia 
					text-decoration none //para q no decore los textos
					
				.down 
					color red
					&:before
						font-family "iconitos"
						font-size 1.2em
						content "\ea36"
						vertical-align bottom 
				.up 
					color green
					&:before
						font-family "iconitos"
						font-size 1.2em
						content "\ea32"
						vertical-align bottom 

		.descripccion 
			color gris_texto
			.detalles
				height 160px //este es el alto fijo de la imagen
				margin-left 130px /*como quiero moverlo 10 px de la imagen a la izquierda  
				si solo le pongo un margen de 10 no los toma encuenta por q la imagen esta
				flotando asi que le pongo el ancho de la imagen mas los px que quiero de espaci-->*/
				.autor
					margin 0.5em 0 2em 0
				.fecha 
					margin 0 1em 0 0 
				.tag 
					background azul
					color white
					border-radius 0.5em 
					padding 0.2em 0.5em
					text-decoration none
				.titulo
					color grisoscuro
					font-size 18px 
					font-style italic
					margin 0 
					padding 0.5em 0.5em 0 0 

			.imagen
				img
					height 160px 
					vertical-align top
					width 120px

@media screen and (min-width: 768px)

	header
		.titular
			.publicar
				padding-left 3em
				position relative
				
				&:before
					left 0px
					font-size 2.5em
					position absolute
					top -10px

	.posts 
		.post
			display inline-block
			width 48%
			vertical-align top
			&:nth-child(odd)
				margin-right 2%
.left 
	float left 
.right 
	float right	
